input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background-color: #eeeeee;
    border: 2px solid #456FFF;
    border-radius: 1rem;
}
#submit{
    border: none;
    border-radius: 0.5rem;
    background-color: white;

}
#submit:hover{
    border: 3px solid #456FFF;
}
.c1{
    color: red;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.c2{
    color: green;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}